gorilla-core
Pillow
numpy
torch==2.10.0
torchvision
opencv-python
tqdm
hydra-core
trimesh
imageio
distinctipy
scikit-image
git+https://github.com/facebookresearch/segment-anything.git
einops
pytorch-lightning
ruamel.yaml
gdown
blenderproc
huggingface_hub[cli]
pycocotools
timm
fastapi[standard]